h1 Hello world
p 123123
h1=abcd
span abcde
#news.a.b.c.d.e(style="color:red;",title="123") 123
ul
    li 1
    li 2
    li 3
    li 4
    li 5
    li 6
    li 7
    li 8
    li 9
    li 10
h1
    span 123123 !{abc}
ul
    each item,index in arr
        li.tab.d.e.f.e(class="tab#{index+1}").clearfix!{index+1} : !{item}
    div
|div 123